body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
}

#app {
    margin: 20px auto;
    max-width: 600px;
}

#pokemon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

#pokemon-info {
    margin: 0 20px;
}

.fire {
    background-color: #f08030;
}

.water {
    background-color: #6890f0;
}
